/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.page-footer {
    background-color: #263238;
    color: white;
}
.footer-copyright {
    background-color: #1C2331;
}
